iframe .ytp-pause-overlay {
    display: none !important;
}
.ytp-pause-overlay-container{
    display: none !important;
    
}
:root{
    --LinkPath:"#ff5c00"
}
.custom-link {
    stroke: #f0691b !important;
  /* "  ✅ Orange connector line" */
    stroke-width: 3px !important;
    /* ✅ Thickness adjust */
} 
